/* IMPOSTAZIONI GENERALI */

body {
  background-image: url("../img/sfondo.png");
  background-size: cover;
  margin: 10px auto;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
